.button {
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.button--green {
  color: #FFFFFF;
  background-color: #3DAE70;
  padding: 10px 18px;
}

.button--white {
  color: #3DAE70;
  background-color: #FFFFFF;
  border-width: 3px;
  border-style: solid;
  padding: 7px 15px;
}