.data-chart {
  height: 25rem;
  width: 80rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.chart-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-bottom: 40px;
}

.btn-play {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: rgb(98, 171, 117);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight:bold;
}

.btn-play:hover {
  background-color: rgb(115, 247, 150);
}

.btn-pause:hover {
  color: rgb(115, 247, 150);
  border-color: rgb(115, 247, 150);
}

.btn-pause {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: white;
  color: rgb(98, 171, 117);
  font-size: 16px;
  border: 2px solid rgb(98, 171, 117);
  border-radius: 5px;
  font-weight:bold;
}