@use '../styles/mixins';

.navbar {
  @include mixins.main-left-right-padding;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3DAE70;

  .logo-image {
    width: 60px;
    height: 60px;
  }

  .auth-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-name {
    margin-right: 2rem;
    color: #FFFFFF;
  }
}