.simulation-item {
	outline: 1px solid #828282;
	border-radius: 5px;

	th,
	td {
		text-align: center;
	}

	td {
		height: 40px;
	}

	.col-1 {
		width: 10%;
	}

	.col-2 {
		width: 30%;
	}

	.col-3 {
		cursor: pointer;
		width: 5%;
	}

	.col-3:hover {
		filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
	}

	.col-3:active {
		transform: scale(0.97);
	}
}

.simulation-item:hover {
	cursor: pointer;
	outline: 1px solid #3dae70;
}
