.single-field-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

label {
	display: block;
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 15px;
	color: #828282;
}

input {
	width: 100%;
	border-radius: 20px;
	padding: 7px 10px;
	margin-bottom: 10px;
	border: 1px solid #828282;
	color: #828282;
}

input:focus {
	outline: none;
	border: 1.5px solid #3dae70;
}
