.students-container {
	// display: flex;
	// flex-direction: column;
	// width: 100%;
	width: 100%;
	border-spacing: 0 1em;

	.head-col-1 {
		width: 10%;
	}

	.head-col-2 {
		width: 30%;
	}

	.head-col-3 {
		width: 5%;
	}
}
