.student-item {
	outline: 1px solid #828282;
	border-radius: 5px;

	th,
	td {
		text-align: center;
	}

	td {
		height: 40px;
	}

	.col-1 {
    width: 10%;
		// margin-left: 20px;
    // text-align: left;
	}

  .col-2 {
    width: 30%;
  }

	.col-3 {
    // text-align: right;
		cursor: pointer;
		// margin-right: 20px;
    width: 5%;
	}

	.col-3:hover {
		filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
	}

	.col-3:active {
		transform: scale(0.97);
	}
}

.student-item:hover {
  cursor: pointer;
  outline: 1px solid #3dae70;
}