.simulation-container {
	display: flex;
	flex-direction: column;

	.simulation-view {
		display: flex;
		align-items: center;

		.simulation-view-left {
			align-self: flex-start;
			flex: 1;

			h2 {
				margin-bottom: 20px;
			}

			h4 {
				margin: 3% 0;
			}
		}

		.simulation-view-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 3;
			margin-left: 1%;

			.chart {
				width: 100%;
			}

			.button {
				margin: 5px;
			}
		}
	}

	.simulation-students {
    display: flex;
    flex-direction: column;

		.simulation-student-list {
			display: flex;
			flex-direction: column;
	
			.simulations-form-heading {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
			}
		}
	
		.add-student {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
	
			input {
				flex: 3;
				margin: 0;
				margin-right: 10px;
			}
		}

		.student-empty {
			font-style: italic;
      text-align: center;
			margin-top: 20px;
		}
	}
}
