.simulation-control-panel-container {
	display: flex;
	flex-direction: column;

  .simulation-control-panel-name {
    text-align: center;
		font-style: italic;
		margin-bottom: 2%;
  }
  
	.simulation-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart {
      width: 100%;
    }

    .below-chart-container {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-column-gap: 5px;
      justify-items: center;
      align-items: center;
      width: 100%;

      .month-price-container {
        font-weight: bold;
        grid-column-start: 2;
      }
      .button {
        margin: 5px 0 5px auto;
      }
    }
  }

  .simulation-control-panel-student-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .list-heading {
      margin-bottom: 10px;
    }

    .student-list-balance {
      width: 100%;
      border-spacing: 0 1em;
    
      th, td {
        width: 20%;
        text-align: center;
      }
    
      .student {
        outline: 1px solid #828282;
        border-radius: 5px;
      }
    
      td {
        height: 40px;

        .student-access-code {
          font-weight: lighter;
          font-style: italic;
        }
      }
    }
  }
}