.simulations-container {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 50px;
  }

  .subheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}