.simulation-control-panel-container {
	display: flex;
	flex-direction: column;
  
	.simulation-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart {
      width: 100%;
    }

    .simulation-run-buttons {
      align-self: flex-end;

      .button {
        margin: 5px 0 5px 5px;
      }
    }
  }

  .simulation-control-panel-student-list {
    display: flex;
    flex-direction: column;

    .list-heading {
      margin-bottom: 20px;
    }
  }
}