.simulations-container {
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 50px;
  }

  .simulations-form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .simulations {
    .simulation-list {
      width: 100%;
      border-spacing: 0 1em;

      .head-col-1 {
        width: 10%;
      }
    
      .head-col-2 {
        width: 30%;
      }
    
      .head-col-3 {
        width: 5%;
      }
    }

    .simulation-empty {
      font-style: italic;
      text-align: center;
    }
  }
}