.simulation-control-panel-container {
	display: flex;
	flex-direction: column;
  
	.simulation-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .chart {
      width: 100%;
    }

    .simulation-run-buttons {
      align-self: flex-end;

      .button {
        margin: 5px 0 5px 5px;
      }
    }
  }

  .simulation-control-panel-student-list {
    display: flex;
    flex-direction: column;

    .list-heading {
      margin-bottom: 20px;
    }

    .student-list-balance {
      width: 100%;
      border-spacing: 0 1em;
    
      th, td {
        width: 20%;
        text-align: center;
      }
    
      .student {
        outline: 1px solid #828282;
        border-radius: 5px;
      }
    
      td {
        height: 40px;

        .student-access-code {
          font-weight: lighter;
          font-style: italic;
        }
      }
    }
  }
}