.dashboard-container {

	.dashboard-greeting {
		text-align: center;
		font-style: italic;
		margin-bottom: 2%;
	}

	.dashboard-top {
		display: flex;
		margin: 50px 0 30px 0;

		.dashboard-top-left {
			display: flex;
			flex-direction: column;
			flex: 1.5;
			align-self: center;
			padding: 0 20px 20px 0;

			.cashflow {
				display: flex;
				align-items: center;
				margin: 15px 0 0;

				.col-1 {
					color: #ffffff;
					background-color: #828282;
					border-top-left-radius: 1.5rem;
					border-bottom-left-radius: 1.5rem;
					padding: 10px;
					flex: 1;
					text-align: center;
				}

				.col-1-green {
					color: #ffffff;
					background-color: #3dae70;
					border-top-left-radius: 1.5rem;
					border-bottom-left-radius: 1.5rem;
					padding: 10px;
					flex: 1;
					text-align: center;
				}

				.col-2 {
					color: #828282;
					background-color: #f2f2f2;
					border-top-right-radius: 1.5rem;
					border-bottom-right-radius: 1.5rem;
					padding: 10px;
					flex: 2;
					text-align: center;
				}
			}
		}

		.dashboard-top-right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex: 3;
			font-weight: bold;
			font-size: 18px;

			.chart {
				width: 100%;
			}
		}
	}

	.dashboard-bottom {
		display: flex;
		min-height: 40vh;

		.dashboard-bottom-left {
			display: flex;
			flex: 1;
			margin-top: 20px;

			.dashboard-bottom-left-allocations {
				width: 100%;
				padding-right: 50px;

				.allocation {
					display: flex;
					align-items: center;
					margin: 15px 0;

					.col-1 {
						color: #ffffff;
						background-color: #3dae70;
						border-top-left-radius: 1.5rem;
						border-bottom-left-radius: 1.5rem;
						padding: 10px;
						flex: 3;
						text-align: center;
					}

					.col-2 {
						color: #3dae70;
						font-weight: 600;
						background-color: #f2f2f2;
						padding: 10px;
						padding-left: 50px;
						flex: 1;
						text-align: center;
						cursor: pointer;
					}

					.col-3 {
						color: #828282;
						background-color: #f2f2f2;
						padding: 10px;
						flex: 1;
						text-align: center;
					}

					.col-4 {
						color: #3dae70;
						font-weight: 600;
						background-color: #f2f2f2;
						border-top-right-radius: 1.5rem;
						border-bottom-right-radius: 1.5rem;
						padding: 10px;
						padding-right: 50px;
						flex: 1;
						text-align: center;
						cursor: pointer;
					}
				}

				.chequings {
					.col-1 {
						background-color: #828282;
					}

					.col-2,
					.col-4 {
						padding-top: 20px;
						padding-bottom: 20px;
						cursor: default;
					}
				}
			}
		}

		.dashboard-bottom-right {
			display: flex;
			flex: 1;
			margin-top: 20px;
			// align-items: center;
			justify-content: center;

			.dashboard-bottom-right-account-balance {
				width: 90%;

				.account-balance {
					display: flex;
					align-items: center;
					margin: 15px 0;

					.col-1 {
						color: #ffffff;
						background-color: #828282;
						border-top-left-radius: 1.5rem;
						border-bottom-left-radius: 1.5rem;
						padding: 10px;
						flex: 1;
						text-align: center;
					}

					.col-1-green {
						color: #ffffff;
						background-color: #3dae70;
						border-top-left-radius: 1.5rem;
						border-bottom-left-radius: 1.5rem;
						padding: 10px;
						flex: 1;
						text-align: center;
					}

					.col-2 {
						color: #828282;
						background-color: #f2f2f2;
						border-top-right-radius: 1.5rem;
						border-bottom-right-radius: 1.5rem;
						padding: 10px;
						flex: 2;
						text-align: center;
					}
				}
			}
		}
	}
}
